@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.63;
  color: rgb(255, 255, 255);
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  body {
    font-weight: 400;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-weight: 500;
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

body {
  background-color: #000000;
}

.logo {
  color: rgb(53, 198, 107);
  font-weight: 800;
  font-size: 40px;
}

.title {
  font-weight: 800;
  font-size: 80px;
  line-height: 1;
  color: rgb(255, 255, 255);
}

.title__span {
  color: rgb(53, 198, 107);
}

.icon {
  width: 40px;
  height: 40px;
  fill: rgb(53, 198, 107);
}

.button {
  background-color: rgb(240, 46, 110);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 600;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  height: 60px;
  padding: 10px 10px;
  border-bottom: 1px solid #2a2a2a;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 15px;
}

.header__logo {
  font-weight: 800;
  font-size: 15px;
}

.hero .container {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .hero .container {
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container {
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 36px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .hero__text:nth-child(2) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text:nth-child(2) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .hero__text:nth-child(3) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text:nth-child(3) {
    margin-bottom: 12px;
  }
}

.hero {
  background-image: url(../images/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.accent {
  color: rgb(37, 151, 196);
  font-size: 10px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .accent {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .accent {
    font-size: 14px;
  }
}

.hero__button {
  padding: 8px;
  font-size: 8px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: rgb(238, 238, 40);
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 20px 1px rgb(238, 238, 40);
          box-shadow: 1px 1px 20px 1px rgb(238, 238, 40);
}
@media screen and (min-width: 768px) {
  .hero__button {
    font-size: 10px;
    margin-top: 20px;
    padding: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    font-size: 12px;
    margin-top: 30px;
    padding: 15px;
  }
}

.schedule {
  padding: 60px 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table__box {
  border: 2px solid #2a2a2a;
  border-radius: 20px;
  overflow: hidden;
}

.table caption {
  padding: 15px;
  text-align: left;
  font-size: 20px;
  font-weight: 800;
}

.table td {
  color: rgb(217, 217, 217);
  background-color: rgb(24, 24, 31);
}

.table th,
.table td {
  text-align: left;
  padding: 10px;
  border-top: 2px solid #2a2a2a;
  width: 25%;
}

.table th {
  padding: 15px;
}

.table caption,
.table th {
  background-color: rgb(37, 37, 48);
}

.participants {
  padding-bottom: 70px;
}

.participants__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.participants__item {
  border: 2px solid #2a2a2a;
  border-radius: 15px;
  overflow: hidden;
}

.participants__title {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 25px;
}

.participants__img {
  height: 223px;
  width: 300px;
}

.participants__text {
  padding: 10px;
  background-color: rgb(37, 37, 48);
}

.history {
  padding: 60px 0;
  background: linear-gradient(315deg, rgba(242, 70, 27, 0.13) 12%, rgb(28, 44, 58) 96%);
}

.history__title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 25px;
}

.history__text:nth-child(2), .history__text:nth-child(3) {
  width: 720px;
}

.history__text:not(:last-child) {
  margin-bottom: 15px;
}

.connection {
  padding: 60px 0;
  background: linear-gradient(145deg, rgba(242, 70, 27, 0.13) 12%, rgb(28, 44, 58) 96%);
}

.connection__title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

.connection__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connection__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: rgb(217, 217, 217);
  margin-bottom: 20px;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
label:nth-child(1) {
  margin-right: 25px;
  margin-bottom: 25px;
}

form {
  width: 550px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

input {
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  background-color: rgb(24, 24, 31);
  width: 262px;
  padding: 8px;
  margin-top: 5px;
}

textarea {
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  background-color: rgb(24, 24, 31);
  width: 550px;
  height: 80px;
  padding: 8px;
  margin-top: 5px;
}

textarea:-moz-placeholder {
  font-weight: 500;
  font-size: 15px;
}

textarea:-ms-input-placeholder {
  font-weight: 500;
  font-size: 15px;
}

textarea:placeholder-shown {
  font-weight: 500;
  font-size: 15px;
}

.connection__button {
  padding: 10px 30px;
  margin-top: 20px;
}

.connection__map {
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  background-color: rgb(24, 24, 31);
  width: 550px;
  padding: 20px;
}

.connection__map--title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.connection__map iframe {
  border-radius: 8px;
}

.footer {
  padding: 30px 0;
  border-top: 1px solid #2a2a2a;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #d9d9d9;
  margin-bottom: 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

address {
  font-style: normal;
}/*# sourceMappingURL=main.css.map */