.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    display: block;
  }
}
.modal__title {
  font-size: 25px;
  margin-bottom: 20px;
}
.modal {
  width: 355px;
  display: block;
  position: absolute;

  background-color: #252530;
  top: 50%;
  height: 500px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  padding: 30px;
  @media screen and (min-width: 480px) {
    width: 400px;
    height: 525px;
  }
  @media screen and (min-width: 1200px) {
    width: 410px;
    height: 550px;
  }
}
.modal__list {
  margin-bottom: 15px;
}
.modal__item {
  font-size: 14px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 480px) {
    font-size: 16px;
  }
}
.modal__form{

  max-width: 450px;
    @media screen and (min-width: 480px) {
      width: 310px;
   
  }

  @media screen and (min-width: 1200px) {
 width: 315px;
  }
}

.modal__button{
  
  padding: 10px 30px;
  margin-top: 20px;
  margin-top: 25px;
}
.modal__button:nth-child(2){
  background-color: black;
}
.modal__input{
  width: 295px;
     @media screen and (min-width: 480px) {
      width: 315px;
   
  }

}
.button__box{
  text-align: end;
}